<div id="about_main">
  <h1>GU_LTY &nbsp;&nbsp;UNT_L &nbsp;&nbsp;_R_VEN &nbsp;&nbsp;_NN_CENT</h1>
  <p>
    Hangman is a game of last words. &nbsp;You're a prisoner scheduled for imminent execution. &nbsp;As part of the law of the land, a secret word is selected. &nbsp;(Its length is equal to the number of crimes you have committed: an 'i' for an eye as they say.) &nbsp;If you can guess the word letter by letter, you will go free. &nbsp;But there's a catch. &nbsp;You can only miss five guesses (called "appeals" in the legal jargon) before the executioner pulls his lever. &nbsp;If you fail a fifth and final appeal before the word is revealed, you will have a brief moment to utter any last words, and then be hung from the neck until dead.<br>Gods have mercy on your wretched soul!
  </p>
  <p>
    This game was created by Brian Burnley in May 2015 for the Viking Code School. &nbsp;You can learn more about <a href="http://brianburnley.com">Brian</a> or about <a href="http://vikingcodeschool.com">Viking Code School</a> by visiting their respective websites.
  </p>
  <form method="POST">
    <input type="submit" value="Begin execution">
  </form>
</div>
