<div id="logo">
  <img id="logo_top" src="<%= url('/hangman.png') %>" title="'Hurry it up you Hoosier bastard! I could hang a dozen men while you're screwing around.' (Carl Panzram, last words)" />
  <img id="logo_bottom" class="swaying" src="<%= url('/noose.png') %>" title="'Hurry it up you Hoosier bastard! I could hang a dozen men while you're screwing around.' (Carl Panzram, last words)" />
</div>
<div id="landing_main">
  <form method="POST">
    <input type="submit" value="Begin execution" />
  </form>
  <form action="about.erb">
    <input type="submit" value="What's going on here?" />
  </form>
</div>
