<p>
  What is your name, prisoner?
</p>
<form>
  <input type="text" name="name" />
  <p>
  How many crimes have your been convicted of?<br>
  Don't attempt to lie: we have the court records on hand.<br>
  (More crimes increases difficulty.  You've committed 2-20 crimes.)
  </p>
  <input type="text" name="difficulty" /><br><br>
  <input type="submit" value="Answer truthfully" />
</form>
